openapi: 3.2.0
info:
  title: Top Stories Content Collections API
  version: '1.0'
servers:
- url: https://api.dowjones.com/
tags:
- name: Content Collections
paths:
  /content-collections/{ref}:
    get:
      tags:
      - Content Collections
      summary: Gets the content of an entitled content-collection by its DRN ID
      operationId: GetContentCollectionByRef
      parameters:
      - name: ref
        in: path
        description: A reference ID
        required: true
        schema:
          type: string
      - name: prepub
        in: query
        description: Specifies if search should be prepub
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/vnd.dowjones.dna+json:
              schema:
                $ref: '#/components/schemas/DnaContentCollectionExample'
      security:
      - Bearer: []
  /content-collections:
    get:
      tags:
      - Content Collections
      summary: Gets a full list of entitled content-collection IDs
      operationId: GetCollectionIdList
      responses:
        '200':
          description: Success
          content: {}
      security:
      - Bearer: []
components:
  schemas:
    Author:
      type: object
      properties:
        full_name:
          type: string
          description: Author's full display name
        topic_id:
          type: string
          description: Topic ID
    Summary:
      type: object
      properties:
        variant:
          type: string
          description: Summary variation
        destination_type:
          type: string
          description: Destination type variation
        pages:
          type: array
          description: List of pages that display this summary
          items:
            type: string
        byline:
          $ref: '#/components/schemas/BaseContent'
        headline:
          $ref: '#/components/schemas/Headline'
        body:
          type: array
          description: Summary body
          items:
            $ref: '#/components/schemas/BaseContent'
        related_links:
          type: array
          description: Related links
          items:
            $ref: '#/components/schemas/BaseContent'
    Links:
      type: object
      properties:
        self:
          type: string
          description: Link to the DRN resource
        related:
          $ref: '#/components/schemas/Related'
    ArticlesRelationshipsData:
      type: array
      items:
        $ref: '#/components/schemas/ArticlesRelationshipsDataElements'
    DnaContentCollectionRelationships:
      type: object
      properties:
        articles:
          $ref: '#/components/schemas/ArticlesRelationshipsData'
        videos:
          $ref: '#/components/schemas/ArticlesRelationshipsData'
        audio:
          $ref: '#/components/schemas/ArticlesRelationshipsData'
        errors:
          $ref: '#/components/schemas/ArticlesRelationshipsData'
    Headline:
      type: object
      properties:
        flashline:
          $ref: '#/components/schemas/BaseContent'
        main:
          $ref: '#/components/schemas/BaseContent'
        deck:
          $ref: '#/components/schemas/BaseContent'
    Associations:
      type: object
      properties:
        root_id:
          type: string
          description: ID of the associated article
        parent_id:
          type: string
          description: Article parent ID
        parent_id_ref:
          type: string
          description: Article parent reference
        mantis_id:
          type: string
          description: Article Mantis ID
        editor_id:
          type: string
          description: Article editor ID
    JsonApiResourceObject_DnaArticleData_:
      type: object
      properties:
        id:
          type: string
          description: Represents the DRN reference ID assigned to the resource
        type:
          type: string
          description: Represents the type of resource
        attributes:
          $ref: '#/components/schemas/DnaArticleData'
        links:
          type: object
          properties: {}
          description: Links object with the links related to the resource
        meta:
          type: object
          properties: {}
          description: Meta object with additional information about the resource
    JsonApiResourceObject_DnaContentCollection_:
      type: object
      properties:
        id:
          type: string
          description: Represents the DRN reference ID assigned to the resource
        type:
          type: string
          description: Represents the type of resource
        attributes:
          type: object
          properties:
            description:
              type: string
              description: Represents the name of the collection
        relationships:
          $ref: '#/components/schemas/DnaContentCollectionRelationships'
    BaseContent:
      type: object
      properties:
        type:
          type: string
          description: Type of content
        id:
          type: string
          description: ID associated with the content
        ref:
          type: string
          description: References to the content
        content:
          type: array
          description: Array of Base Content objects, which constitute the parent content
          items:
            $ref: '#/components/schemas/BaseContent'
        text:
          type: string
          description: The text corresponding to the content
        variant:
          type: string
          description: Content variation
        debug:
          type: string
          description: Debugging information
    ArticlesMetric:
      type: object
      properties:
        count:
          type: integer
          description: Number of records returned
          format: int32
    DnaArticleData:
      type: object
      properties:
        content_type:
          type: string
          description: The type of content being returned (e.g. Article)
        associations:
          $ref: '#/components/schemas/Associations'
        authors:
          type: array
          description: An array with the author or authors of the article
          items:
            $ref: '#/components/schemas/Author'
        body:
          type: array
          description: Main article body, contains text, links, insets, and other complex objects
          items:
            $ref: '#/components/schemas/BaseContent'
        byline:
          $ref: '#/components/schemas/BaseContent'
        credit:
          $ref: '#/components/schemas/BaseContent'
        contact:
          $ref: '#/components/schemas/BaseContent'
        corrections:
          $ref: '#/components/schemas/BaseContent'
        column_name:
          type: string
          description: Column name
        copyright:
          $ref: '#/components/schemas/BaseContent'
        display_name:
          type: string
        headline:
          $ref: '#/components/schemas/Headline'
        hosted_url:
          type: string
          description: The URL of the article on the hosted domain
        id_ref:
          type: string
          description: DRN ID associated to the resource
        content_resources:
          type: array
          description: Resources comprising the content
          items:
            $ref: '#/components/schemas/AssociatedResource'
        live_date:
          type: string
          description: The date to be displayed
        live_time:
          type: string
          description: The date/time to be displayed on the article in UTC
          format: date-time
        major_revision_date:
          type: string
          description: The date/time the article has had a major revision
          format: date-time
        minor_revision:
          type: boolean
          description: Specifies if the article has had a minor revision
        modification_date:
          type: string
          description: The date the article was last updated
        modification_time:
          type: string
          description: The date/time the article was last updated in UTC
          format: date-time
        order:
          type: integer
          description: Order
          format: int32
        original_headline:
          $ref: '#/components/schemas/BaseContent'
        page:
          type: string
          description: Page where the article is displayed
        product:
          type: string
          description: The product to which the article belongs to
        publication_date:
          type: string
          description: The date the article was published
        publication_time:
          type: string
          description: The date/time the article was published in UTC
          format: date-time
        publisher:
          $ref: '#/components/schemas/Publisher'
        section_name:
          $ref: '#/components/schemas/BaseContent'
        section_type:
          type: string
          description: Section type of website, used for Ad placement and recommended stories
        seo_id:
          type: string
          description: Unique Id generated for SEO purposes. Generally these are created programmatically and are suffixed with epoch millis
        summary:
          $ref: '#/components/schemas/Summary'
        id:
          type: string
        attributes:
          type: object
          properties: {}
        errors:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiError'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    JsonApiError:
      type: object
      properties:
        title:
          type: string
          description: Error title
        id:
          type: string
          description: Specifies the requested DRN ID
        detail:
          type: string
          description: Detailed description of the error
        status:
          type: string
          description: Error status
          enum:
          - continue
          - switchingProtocols
          - oK
          - created
          - accepted
          - nonAuthoritativeInformation
          - noContent
          - resetContent
          - partialContent
          - multipleChoices
          - ambiguous
          - movedPermanently
          - moved
          - found
          - redirect
          - seeOther
          - redirectMethod
          - notModified
          - useProxy
          - unused
          - temporaryRedirect
          - redirectKeepVerb
          - badRequest
          - unauthorized
          - paymentRequired
          - forbidden
          - notFound
          - methodNotAllowed
          - notAcceptable
          - proxyAuthenticationRequired
          - requestTimeout
          - conflict
          - gone
          - lengthRequired
          - preconditionFailed
          - requestEntityTooLarge
          - requestUriTooLong
          - unsupportedMediaType
          - requestedRangeNotSatisfiable
          - expectationFailed
          - upgradeRequired
          - internalServerError
          - notImplemented
          - badGateway
          - serviceUnavailable
          - gatewayTimeout
          - httpVersionNotSupported
        code:
          type: string
          description: Error code
    Related:
      type: object
      properties:
        href:
          type: string
          description: Specifies the URL link
        meta:
          $ref: '#/components/schemas/Meta'
    DnaContentCollectionExample:
      type: object
      properties:
        jsonapi:
          $ref: '#/components/schemas/JsonApiHeader'
        data:
          $ref: '#/components/schemas/JsonApiResourceObject_DnaContentCollection_'
        links:
          type: object
          properties: {}
          description: Resource links
        included:
          uniqueItems: true
          type: array
          description: Lists links that point to resources outside the collection
          items:
            $ref: '#/components/schemas/JsonApiResourceObject_DnaArticleData_'
        meta:
          $ref: '#/components/schemas/ArticlesMeta'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/JsonApiError'
    ArticlesMeta:
      type: object
      properties:
        metrics:
          $ref: '#/components/schemas/ArticlesMetric'
    ArticlesRelationshipsDataElements:
      type: object
      properties:
        id:
          type: string
          description: Represents the id of the included article
        type:
          type: string
    JsonApiHeader:
      type: object
      properties:
        version:
          type: string
          description: Specifies the API version
    Publisher:
      type: object
      properties:
        code:
          type: string
          description: Publisher code
        name:
          type: string
          description: Publisher name
        group_code:
          type: string
          description: Publisher group code
        group_name:
          type: string
          description: Publisher group name
    AssociatedResource:
      type: object
    Meta:
      type: object
      properties:
        count:
          type: integer
          description: Number of records returned
          format: int32
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
