openapi: 3.2.0
info:
  title: RiskCenter Third Party Platform API 0.2 File API
  version: v0.2-beta
servers:
- url: https://api-thirdparty.riskcenter.dowjones.com/
tags:
- name: File
paths:
  /files/{fileId}:
    get:
      tags:
      - File
      summary: Downloads a file
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.2-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModelV2'
        '400':
          description: Bad Request
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.2-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModelV2'
        '401':
          description: Unauthorized
      security:
      - oauth2: []
      operationId: getFilesByFileId
      x-operation-id-source: derived
  /files:
    post:
      tags:
      - File
      summary: Uploads a file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
            encoding:
              files:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.2-beta+json:
              schema:
                $ref: '#/components/schemas/ResponseFile'
        '400':
          description: Bad Request
          content:
            application/vnd.dowjones.dna.risk-third-parties.v_0.2-beta+json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModelV2'
        '401':
          description: Unauthorized
      security:
      - oauth2: []
      operationId: postFiles
      x-operation-id-source: derived
components:
  schemas:
    FileItem:
      type: object
      properties:
        file_id:
          type:
          - string
          - 'null'
          description: ''
        file_name:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: ''
    ErrorResponseModelV2:
      type: object
      properties:
        errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorModelV2'
          description: ''
      additionalProperties: false
      description: Updated Error Response Model
    ErrorModelV2:
      type: object
      properties:
        status:
          type: integer
          description: ''
          format: int32
        code:
          type: integer
          description: ''
          format: int32
        title:
          type:
          - string
          - 'null'
          description: ''
        detail:
          type:
          - string
          - 'null'
          description: ''
      additionalProperties: false
      description: Updated Error model
    ResponseFile:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResponseDataFile'
      additionalProperties: false
      description: ''
    ResponseDataFile:
      type: object
      properties:
        id:
          type: string
          description: ''
        attributes:
          $ref: '#/components/schemas/FileItem'
        type:
          type: string
          description: ''
      additionalProperties: false
      description: ''
  securitySchemes:
    oauth2:
      type: apiKey
      description: 'Standard Authorization header using the Bearer scheme. Example: "bearer {token}"'
      name: Authorization
      in: header
