openapi: 3.0.1
info:
  version: 2.0.0
  title: Content API Endpoint to Retrieve Article
  description: After locating a newswires article of your interest, you can retrieve all the chained documents using its reference code.
tags:
- name: Content
  description: Get newswires linked article by DRN
servers:
- url: https://api.dowjones.com/
paths:
  /content/{drn}:
    get:
      tags:
      - Content
      summary: Retrieves the realtime linked articles by the reference.
      operationId: GetRealtimeLinkedContentByDrn
      parameters:
      - name: drn
        in: path
        description: DRN
        required: true
        schema:
          type: string
        example: drn:realtime.linkedarticle.DNCO20200603002169
      - name: article_format
        in: query
        description: The format of the response to be returned
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/vnd.dowjones.dna+json:
              schema:
                $ref: '#/components/schemas/articles'
        '400':
          description: Bad Request - Incorrect Parameters
          content:
            application/vnd.dowjones.dna+json:
              schema:
                $ref: '#/components/schemas/errors'
        '401':
          description: Unauthorized
          content:
            application/vnd.dowjones.dna+json:
              schema:
                $ref: '#/components/schemas/errors'
        '404':
          description: Not Found - No resource found for the request
          content:
            application/vnd.dowjones.dna+json:
              schema:
                $ref: '#/components/schemas/errors'
        5XX:
          description: Internal Server Error - Server encountered an unexpected condition
          content:
            application/vnd.dowjones.dna+json:
              schema:
                $ref: '#/components/schemas/errors'
      security:
      - bearerAuth: []
components:
  schemas:
    articles:
      type: object
      description: Linked articles
      properties:
        links:
          $ref: '#/components/schemas/topLevelLinks'
        meta:
          $ref: '#/components/schemas/topLevelMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/articleData'
        included:
          $ref: '#/components/schemas/includedResources'
    articleAttributes:
      type: object
      properties:
        content_type:
          $ref: '#/components/schemas/contentType'
        art:
          $ref: '#/components/schemas/contentItem'
        associations:
          $ref: '#/components/schemas/associations'
        authors:
          type: array
          items:
            $ref: '#/components/schemas/author'
        best_date:
          type: string
          format: date
        best_time:
          type: string
          format: date-time
        body:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/paragraphItem'
            - $ref: '#/components/schemas/tableItem'
            - $ref: '#/components/schemas/headingItem'
            - $ref: '#/components/schemas/imageItem'
            - $ref: '#/components/schemas/datelineItem'
            - $ref: '#/components/schemas/taglineItem'
            - $ref: '#/components/schemas/insetItem'
            - $ref: '#/components/schemas/listItem'
            - $ref: '#/components/schemas/blockquoteItem'
            - $ref: '#/components/schemas/binaryItem'
        byline:
          $ref: '#/components/schemas/contentItem'
        column_name:
          type: string
        contact:
          $ref: '#/components/schemas/contentItem'
        content_status:
          type: string
        copyright:
          $ref: '#/components/schemas/contentItem'
        corrections:
          type: array
          items:
            $ref: '#/components/schemas/paragraphItem'
        credit:
          $ref: '#/components/schemas/contentItem'
        contentResources:
          type: array
          description: Complex objects that are referenced inline in the content are referred to here
          items:
            description: ' removed untill fixed #/components/schemas/AssociatedResources'
        headline:
          $ref: '#/components/schemas/headline'
        live_date:
          type: string
          format: date
        live_time:
          type: string
          format: date-time
        load_date:
          type: string
          format: date
        load_time:
          type: string
          format: date-time
        modification_date:
          type: string
          format: date
        modification_time:
          type: string
          format: date-time
        notes:
          $ref: '#/components/schemas/contentItem'
        page:
          type: string
        publication_date:
          type: string
          format: date
        publication_time:
          type: string
          format: date-time
        publisher:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
            group_code:
              type: string
            group_name:
              type: string
        section_name:
          $ref: '#/components/schemas/contentItem'
        seo_id:
          type: string
        snippet:
          $ref: '#/components/schemas/contentItem'
        summary:
          type: object
          properties:
            destination_type:
              type: string
            byline:
              $ref: '#/components/schemas/contentItem'
            headline:
              $ref: '#/components/schemas/headline'
            body:
              type: array
              items:
                anyOf:
                - $ref: '#/components/schemas/paragraphItem'
                - $ref: '#/components/schemas/headingItem'
                - $ref: '#/components/schemas/imageItem'
                - $ref: '#/components/schemas/datelineItem'
                - $ref: '#/components/schemas/taglineItem'
                - $ref: '#/components/schemas/insetItem'
                - $ref: '#/components/schemas/listItem'
                - $ref: '#/components/schemas/blockquoteItem'
            pages:
              type: array
              items:
                type: string
            related_links:
              type: array
              items:
                $ref: '#/components/schemas/linkItem'
            variant:
              type: string
        upstream_origin:
          type: string
        upstream_origin_id:
          type: string
        volume:
          type: string
    articleData:
      type: object
      properties:
        type:
          type: string
          enum:
          - content
        id:
          type: string
        links:
          $ref: '#/components/schemas/resourceLinks'
        meta:
          $ref: '#/components/schemas/resourceMeta'
        attributes:
          anyOf:
          - $ref: '#/components/schemas/articleAttributes'
          - $ref: '#/components/schemas/errors'
        relationships:
          $ref: '#/components/schemas/relatedResources'
    associations:
      type: object
      properties:
        root_id:
          type: string
        parent_id:
          type: string
        parent_id_ref:
          type: string
    author:
      type: object
      properties:
        full_name:
          type: string
        topic_id:
          type: string
    binaryItem:
      type: object
      properties:
        type:
          type: string
          enum:
          - Binary
        ref:
          type: string
        content_encoding:
          type: string
        media_type:
          type: string
          enum:
          - PDF
          - HTML
        value:
          type: string
    blockquoteItem:
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Blockquote
    breakItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Break
    codeSet:
      type: object
      properties:
        type:
          type: string
          enum:
          - Author
          - Organization
          - Industry
          - NewsSubject
          - People
          - Region
          - InformationProviderCodes
          - InformationProviderDescriptors
        id:
          type: string
          enum:
          - au
          - co
          - in
          - ns
          - pe
          - re
          - ipc
          - ipd
        codes:
          type: array
          items:
            type: object
            properties:
              chartingsymbol:
                type: string
              code:
                type: string
              code_scheme:
                type: string
                enum:
                - DJID
                - Ticker
                - DUNS
                - ISIN
                - DJN
              descriptor:
                type: string
              symbol:
                type: string
              significance:
                type: string
                enum:
                - About
                - Significant
                - Mention
                - Lineage
                - Relevance
                - Association
    contentItem:
      anyOf:
      - $ref: '#/components/schemas/textItem'
      - type: object
        properties:
          content:
            $ref: '#/components/schemas/contentItems'
    contentItems:
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/textItem'
        - $ref: '#/components/schemas/linkItem'
        - $ref: '#/components/schemas/entityItem'
        - $ref: '#/components/schemas/emphasisItem'
        - $ref: '#/components/schemas/tableItem'
        - $ref: '#/components/schemas/breakItem'
        - $ref: '#/components/schemas/imageItem'
    contentType:
      type: string
      enum:
      - Article
      - Audio
      - Board
      - Blog
      - HTML
      - Multimedia
      - PDF
      - Picture
      - Video
      - Webpage
    datelineItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Dateline
          format:
            type: string
    entityItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Entity
          entity_type:
            type: string
            enum:
            - Organization
            - People
          background_info:
            type: string
          code:
            type: string
          code_scheme:
            type: string
            enum:
            - DJID
            - WSJCode
            - DJN
          ref:
            type: string
          significance:
            type: string
          ticker:
            type: string
    emphasisItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Emphasis
          emphasis_type:
            type: string
            enum:
            - Bold
            - Highlight
            - Italic
            - Strikethrough
            - Superscript
            - Subscript
            - Underline
    error:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        status:
          type: string
        id:
          type: string
    errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
    headline:
      type: object
      properties:
        flashline:
          $ref: '#/components/schemas/contentItem'
        main:
          $ref: '#/components/schemas/contentItem'
        deck:
          $ref: '#/components/schemas/contentItem'
    headingItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            default: Heading
          sub_type:
            enum:
            - Small
            - Sub
          fragment_id:
            type: string
            description: 'TODO: needs to be changed'
    imageItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/mediaBaseItem'
      - properties:
          type:
            type: string
            enum:
            - Image
    includedResources:
      type: array
      items:
        type: object
        properties:
          type:
            $ref: '#/components/schemas/mediaTypes'
          id:
            type: string
          attributes:
            type: object
            properties:
              bytes:
                type: integer
              external:
                type: boolean
              height:
                type: integer
              id_ref:
                type: string
              size_code:
                type: string
                description: 'size codes, along the lines of "FingerNail", "ThumbNail",

                  "A", "OR", etc'
              is_responsive:
                type: boolean
              mime_type:
                type: string
              slug:
                type: string
                description: ??????
              sub_type:
                type: string
              width:
                type: integer
          links:
            type: object
            properties:
              self:
                type: string
    insetItem:
      type: object
      properties:
        inset_type:
          type: string
          enum:
          - BooksExhibitionsReviews
          - BigTopHero
          - Comments
          - DeckSummary
          - DeckSummaryMobile
          - Deloitte
          - Dynamic
          - ExperientialAd
          - FacebookPost
          - GoogleReview
          - Iframe
          - Instagramphoto
          - Instagram
          - PronewsLetter
          - MdChart
          - NewsletterInset
          - Outset
          - Pagebreak
          - PullQuote
          - RelatedByArticleType
          - RelatedLinks
          - Richtext
          - Slideshow
          - slideshowembed
          - StockScreener
          - Tweet
          - VideoByGuid
          - Videostream
          - Youtube
          description: 'TODO: need to add all available oprions'
        properties:
          type: object
        content:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/paragraphItem'
            - $ref: '#/components/schemas/listItem'
            - $ref: '#/components/schemas/imageItem'
            - $ref: '#/components/schemas/mediaItem'
            - $ref: '#/components/schemas/videoItem'
            - $ref: '#/components/schemas/headingItem'
            - $ref: '#/components/schemas/taglineItem'
            - $ref: '#/components/schemas/blockquoteItem'
        ref:
          type: string
    listItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - List
          ordered:
            type: boolean
    linkItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Link
          icon:
            type: string
            enum:
            - None
            - Audio
            - Blog
            - Document
            - File
            - Pdf
            - Interactives
            - Self
            - Slideshow
            - Video
            - Vote
          link_type:
            type: string
            enum:
            - Article
            - Blog
            - Email
            - File
            - Image
            - Webpage
          external:
            type: boolean
          ref:
            type: string
          uri:
            type: string
    mediaBaseItem:
      type: object
      properties:
        alternate_text:
          type: string
        caption:
          $ref: '#/components/schemas/contentItem'
        credit:
          type: string
        media_type:
          $ref: '#/components/schemas/mediaTypes'
        name:
          type: string
        properties:
          type: object
        uri:
          type: string
        slug:
          type: string
        width:
          type: integer
        height:
          type: integer
    mediaItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/mediaBaseItem'
      - properties:
          type:
            type: string
            enum:
            - Media
    mediaTypes:
      type: string
      enum:
      - Audio
      - Chart
      - Combo
      - Flash
      - Hedcut
      - Illustration
      - Photo
      - Portrait
      - Promobox
      - Video
      - Logo
    paragraphItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            type: string
            enum:
            - Paragraph
          display:
            type: string
            enum:
            - Preformatted
            - Plain
          paragraph_type:
            type: string
            enum:
            - LeadParagraph
            - TailParagraph
    printEdition:
      type: object
      properties:
        value:
          type: string
        page:
          type: string
        headlline:
          type: string
        section:
          type: string
        date:
          type: string
          format: date
    resourceLinks:
      type: object
      properties:
        self:
          type: string
        webpage_uri:
          type: string
        video_uri:
          type: string
        audio_uri:
          type: string
        parent_uri:
          type: string
    relatedResources:
      type: object
      properties:
        included_content:
          type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  type:
                    $ref: '#/components/schemas/mediaTypes'
                  id:
                    type: string
    resourceMeta:
      type: object
      properties:
        code_sets:
          type: array
          items:
            $ref: '#/components/schemas/codeSet'
        edition:
          type: object
          properties:
            name:
              type: string
            print:
              $ref: '#/components/schemas/printEdition'
        emphasis:
          type: object
          properties:
            hot:
              type: boolean
            dominant:
              type: boolean
            analysis:
              type: boolean
        geo_relevance:
          type: array
          items:
            type: object
            properties:
              latitude:
                type: number
              longitude:
                type: number
        is_translation_allowed:
          type: boolean
        keywords:
          type: array
          items:
            type: string
        language:
          type: object
          properties:
            code:
              type: string
            descriptor:
              type: string
        metrics:
          type: object
          properties:
            character_count:
              type: integer
            word_count:
              type: integer
            image_count:
              type: integer
            chart_count:
              type: integer
        original_doc_id:
          type: string
        source:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
            logo:
              $ref: '#/components/schemas/imageItem'
        bill_data:
          type: string
    tableItem:
      type: object
      properties:
        type:
          type: string
          enum:
          - Table
        content:
          type: array
          items:
            $ref: '#/components/schemas/tableRow'
    tableCell:
      type: object
      properties:
        type:
          type: string
          enum:
          - TableCell
        content:
          $ref: '#/components/schemas/contentItems'
    tableRow:
      type: object
      properties:
        type:
          type: string
          enum:
          - TableRow
        colspan:
          type: integer
        content:
          type: array
          items:
            $ref: '#/components/schemas/tableCell'
    taglineItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/contentItem'
      - properties:
          type:
            enum:
            - Tagline
    textItem:
      type: object
      properties:
        text:
          type: string
    topLevelMeta:
      type: object
      properties:
        count:
          type: integer
        context:
          type: string
    topLevelLinks:
      type: object
      properties:
        self:
          type: string
    videoItem:
      type: object
      allOf:
      - $ref: '#/components/schemas/mediaBaseItem'
      - properties:
          type:
            type: string
            enum:
            - Video
          api:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
